{% load static %}
<section class="course-category section-space">
  <div class="container">
    <div class="sec-title sec-title--center wow fadeInUp" data-wow-duration="1500ms">
      <h6 class="sec-title__tagline">Eğitim Kategorilerimiz</h6>
      <h3 class="sec-title__title">Demans Hasta Bakıcı <span class="sec-title__title__text">Eğitim</span> <span class="sec-title__title__shape">Programları</span></h3>
    </div>
    <div class="row gutter-y-30">
      <!-- Temel Bakım -->
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="course-category__card wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="000ms">
          <div class="course-category__card__inner">
            <div class="course-category__card__bg" style="background-image: url({% static 'assets/images/course-category/temel-bakim.jpg' %});"></div>
          </div>
          <div class="course-category__card__content">
            <div class="course-category__card__icon-box">
              <span class="course-category__card__icon"><i class="icon-health"></i></span>
            </div>
            <h4 class="course-category__card__title">Temel Bakım Eğitimi</h4>
          </div>
        </div>
      </div>

      <!-- İletişim -->
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="course-category__card wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
          <div class="course-category__card__inner">
            <div class="course-category__card__bg" style="background-image: url({% static 'assets/images/course-category/iletisim.jpg' %});"></div>
          </div>
          <div class="course-category__card__content">
            <div class="course-category__card__icon-box">
              <span class="course-category__card__icon"><i class="icon-chat"></i></span>
            </div>
            <h4 class="course-category__card__title">İletişim Teknikleri</h4>
          </div>
        </div>
      </div>

      <!-- Günlük Yaşam -->
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="course-category__card wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
          <div class="course-category__card__inner">
            <div class="course-category__card__bg" style="background-image: url({% static 'assets/images/course-category/gunluk-yasam.jpg' %});"></div>
          </div>
          <div class="course-category__card__content">
            <div class="course-category__card__icon-box">
              <span class="course-category__card__icon"><i class="icon-home"></i></span>
            </div>
            <h4 class="course-category__card__title">Günlük Yaşam Desteği</h4>
          </div>
        </div>
      </div>

      <!-- Beslenme -->
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="course-category__card wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="300ms">
          <div class="course-category__card__inner">
            <div class="course-category__card__bg" style="background-image: url({% static 'assets/images/course-category/beslenme.jpg' %});"></div>
          </div>
          <div class="course-category__card__content">
            <div class="course-category__card__icon-box">
              <span class="course-category__card__icon"><i class="icon-food"></i></span>
            </div>
            <h4 class="course-category__card__title">Beslenme ve Diyet</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
