{% load static %}
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/kendine_iyi_bak_logo.png' %}" />
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/kendine_iyi_bak_logo.png' %}" />
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/kendine_iyi_bak_logo.png' %}" />
<link rel="manifest" href="{% static 'assets/manifest.json' %}" />
<meta name="description" content="Eduhive is a very modern and versatile education & online courses HTML Template. It is specially designed for LMS, online courses, education, learning management, e-learning, online training, zoom classes, and all other education related websites and businesses." />

<!-- fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Cormorant:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet" />

<link rel="stylesheet" href="{% static 'assets/vendors/bootstrap/css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-select/bootstrap-select.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendors/animate/animate.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendors/fontawesome/css/all.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendors/jquery-ui/jquery-ui.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendors/jarallax/jarallax.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendors/nouislider/nouislider.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendors/nouislider/nouislider.pips.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendors/tiny-slider/tiny-slider.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendors/eduhive-icons/style.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel/css/owl.carousel.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel/css/owl.theme.default.min.css' %}" />

<!-- template styles -->
<link rel="stylesheet" href="{% static 'assets/css/eduhive.css' %}" />
