{% load static %}
<section class="faq-one section-space">
  <div class="container">
    <div class="row gutter-y-50">
      <div class="col-lg-6">
        <div class="faq-one__content">
          <div class="sec-title wow fadeInUp" data-wow-duration="1500ms">
            <h6 class="sec-title__tagline">SIK SORULAN SORULAR</h6>
            <h3 class="sec-title__title">“Kendine İyi Bak” <span class="sec-title__title">Programı</span> <span class="sec-title__title__shape">Hakkında</span></h3>
          </div>
          <div class="faq-one__accordion">
            <div class="eduhive-accordion" data-grp-name="eduhive-accordion">
              <div class="accordion active wow fadeInUp" data-wow-duration="1500ms">
                <div class="accordion-title">
                  <h4>Program ne kadar sürüyor?</h4>
                  <span class="accordion-title__icon"><i class="icon-double-arrow"></i></span>
                </div>
                <div class="accordion-content">
                  <div class="inner">
                    <p>10 hafta sürecektir. 8 hafta boyunca her hafta farklı bir konu olmak üzere eğitim verilecektir. Her eğitim konusu ve etkinlik haftalık planlanmıştır. Paylaşıma haftası geldiğinde açılacaktır.</p>
                  </div>
                </div>
              </div>

              <!--    <div class="accordion wow fadeInUp" data-wow-duration="1500ms">
                <div class="accordion-title">
                  <h4>Eğitimler Online mı Veriliyor?</h4>
                  <span class="accordion-title__icon"><i class="icon-double-arrow"></i></span>
                </div>
                <div class="accordion-content">
                  <div class="inner">
                    <p>Evet, eğitimlerimiz tamamen online olarak verilmektedir. Teorik dersler canlı ve kayıtlı videolarla, pratik uygulamalar ise interaktif çalışmalarla desteklenmektedir.</p>
                  </div>
                </div>
              </div>    -->

              <div class="accordion wow fadeInUp" data-wow-duration="1500ms">
                <div class="accordion-title">
                  <h4>Program sonundan ne kazanacağım?</h4>
                  <span class="accordion-title__icon"><i class="icon-double-arrow"></i></span>
                </div>
                <div class="accordion-content">
                  <div class="inner">
                    <p>Programa katılımın sonunda sizlerin bakım sürecinde hissetmiş olduğunuz yükünüzün azalması, bakım vermeye kendinize hazır hissetmeniz, demanslı yakınınızın bilişsel sağlık düzeyinin iyileşmesi ve davranışsal semptomlarının hafifletilmesi hedeflenmektedir.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeInRight" data-wow-duration="1500ms">
        <div class="faq-one__image">
          <div class="faq-one__image__one">
            <div class="faq-one__image__one__inner">
              <img src="{% static 'assets/images/faq/Resim1.jpg' %}" alt="Demans Eğitimi" />
            </div>
          </div>
          <div class="faq-one__image__two">
            <!-- <img src="{% static 'assets/images/gallery/10.png' %}" alt="Demans Bakımı" /> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
