{% load static %}
<section class="instructors-one section-space2" id="instructors">
    <div class="container">
        <div class="sec-title sec-title--center wow fadeInUp" data-wow-duration="1500ms">
            <h6 class="sec-title__tagline">Uzman Eğitmenlerimiz</h6>
            <h3 class="sec-title__title">Alanında <span class="sec-title__title__text">Uzman</span> <span class="sec-title__title__shape">Eğitmenler</span></h3>
        </div>
        <div class="instructors-one__carousel eduhive-owl__carousel eduhive-owl__carousel--basic-nav owl-carousel owl-theme" data-owl-options='{
            "items": 4,
            "margin": 30,
            "loop": true,
            "smartSpeed": 700,
            "nav": false,
            "dots": true,
            "autoplay": true,
            "responsive": {
                "0": {"items": 1},
                "576": {"items": 2},
                "992": {"items": 3},
                "1200": {"items": 4}
            }
        }'>
            <!-- Dr. Ayşe Yılmaz -->
            <div class="item">
                <div class="instructor-card wow fadeInUp" data-wow-duration="1500ms">
                    <div class="instructor-card__image">
                        <img src="{% static 'assets/images/team/instructor-1.jpg' %}" alt="Dr. Ayşe Yılmaz">
                        <div class="instructor-card__hover">
                            <div class="instructor-card__info">
                                <div class="instructor-card__social">
                                    <span class="instructor-card__social__share">
                                        <i class="icon-share"></i>
                                    </span>
                                    <div class="instructor-card__social__list">
                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                    </div>
                                </div>
                                <h3 class="instructor-card__name">
                                    <a href="instructor-details.html">Dr. Ayşe Yılmaz</a>
                                </h3>
                                <h6 class="instructor-card__designation">Nörolog</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Uzm. Psk. Mehmet Demir -->
            <div class="item">
                <div class="instructor-card wow fadeInUp" data-wow-duration="1500ms">
                    <div class="instructor-card__image">
                        <img src="{% static 'assets/images/team/instructor-2.jpg' %}" alt="Uzm. Psk. Mehmet Demir">
                        <div class="instructor-card__hover">
                            <div class="instructor-card__info">
                                <div class="instructor-card__social">
                                    <span class="instructor-card__social__share">
                                        <i class="icon-share"></i>
                                    </span>
                                    <div class="instructor-card__social__list">
                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                    </div>
                                </div>
                                <h3 class="instructor-card__name">
                                    <a href="instructor-details.html">Uzm. Psk. Mehmet Demir</a>
                                </h3>
                                <h6 class="instructor-card__designation">Klinik Psikolog</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Fizyoterapist Zeynep Kaya -->
            <div class="item">
                <div class="instructor-card wow fadeInUp" data-wow-duration="1500ms">
                    <div class="instructor-card__image">
                        <img src="{% static 'assets/images/team/instructor-3.jpg' %}" alt="Fizyoterapist Zeynep Kaya">
                        <div class="instructor-card__hover">
                            <div class="instructor-card__info">
                                <div class="instructor-card__social">
                                    <span class="instructor-card__social__share">
                                        <i class="icon-share"></i>
                                    </span>
                                    <div class="instructor-card__social__list">
                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                    </div>
                                </div>
                                <h3 class="instructor-card__name">
                                    <a href="instructor-details.html">Fizyoterapist Zeynep Kaya</a>
                                </h3>
                                <h6 class="instructor-card__designation">Fizyoterapist</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Hemşire Ali Can -->
            <div class="item">
                <div class="instructor-card wow fadeInUp" data-wow-duration="1500ms">
                    <div class="instructor-card__image">
                        <img src="{% static 'assets/images/team/instructor-4.jpg' %}" alt="Hemşire Ali Can">
                        <div class="instructor-card__hover">
                            <div class="instructor-card__info">
                                <div class="instructor-card__social">
                                    <span class="instructor-card__social__share">
                                        <i class="icon-share"></i>
                                    </span>
                                    <div class="instructor-card__social__list">
                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                    </div>
                                </div>
                                <h3 class="instructor-card__name">
                                    <a href="instructor-details.html">Hemşire Ali Can</a>
                                </h3>
                                <h6 class="instructor-card__designation">Geriatri Hemşiresi</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="{% static 'assets/images/shapes/instructors-shape-1-1.png' %}" alt="shape" class="instructors-one__shape-one">
    <img src="{% static 'assets/images/shapes/instructors-shape-1-2.png' %}" alt="shape" class="instructors-one__shape-two">
</section> 