{% load static %}
      
<script src="{% static 'assets/vendors/jquery/jquery-3.7.0.min.js' %}"></script>

    <script src="{% static 'assets/vendors/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap-select/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jarallax/jarallax.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jquery-ui/jquery-ui.js' %}"></script>
    <script src="{% static 'assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jquery-appear/jquery.appear.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jquery-validate/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/vendors/nouislider/nouislider.min.js' %}"></script>
    <script src="{% static 'assets/vendors/tiny-slider/tiny-slider.js' %}"></script>
    <script src="{% static 'assets/vendors/wnumb/wNumb.min.js' %}"></script>
    <script src="{% static 'assets/vendors/owl-carousel/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/vendors/owl-carousel/js/owlcarousel2-filter.min.js' %}"></script>
    <script src="{% static 'assets/vendors/owl-carousel/js/owlcarousel2-progressbar.js' %}"></script>
    <script src="{% static 'assets/vendors/wow/wow.js' %}"></script>
    <script src="{% static 'assets/vendors/imagesloaded/imagesloaded.min.js' %}"></script>
    <script src="{% static 'assets/vendors/isotope/isotope.js' %}"></script>
    <script src="{% static 'assets/vendors/countdown/countdown.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jquery-circleType/jquery.circleType.js' %}"></script>
    <script src="{% static 'assets/vendors/jquery-lettering/jquery.lettering.min.js' %}"></script>
    <!-- template js -->
    <script src="{% static 'assets/js/eduhive.js' %}"></script>