{% load static %}
<section class="funfact-one section-space-bottom funfact-one--home">
  <div class="funfact-one__inner">
    <div class="funfact-one__bg" style="background-image: url({% static 'assets/images/shapes/funfact-bg-1-1.png' %});"></div>
  </div>
  <div class="container">
    <div class="funfact-one__grid">
      <div class="funfact-one__item funfact-one__item--secondary wow fadeInUp" data-wow-duration="1500ms">
        <div class="funfact-one__icon">
          <span class="funfact-one__icon__inner"><i class="icon-students"></i></span>
        </div>
        <h3 class="funfact-one__title count-box">
          <span class="count-text" data-stop="1000" data-speed="1500">0</span>
          <span>+</span>
        </h3>
        <p class="funfact-one__text">Mezun Bakıcı</p>
      </div>

      <div class="funfact-one__item funfact-one__item--primary wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
        <div class="funfact-one__icon">
          <span class="funfact-one__icon__inner"><i class="icon-batch-assign"></i></span>
        </div>
        <h3 class="funfact-one__title count-box">
          <span class="count-text" data-stop="50" data-speed="1500">0</span>
          <span>+</span>
        </h3>
        <p class="funfact-one__text">Tamamlanan Eğitim</p>
      </div>

      <div class="funfact-one__item funfact-one__item--primary wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
        <div class="funfact-one__icon">
          <span class="funfact-one__icon__inner"><i class="icon-connectibity"></i></span>
        </div>
        <h3 class="funfact-one__title count-box">
          <span class="count-text" data-stop="300" data-speed="1500">0</span>
          <span>+</span>
        </h3>
        <p class="funfact-one__text">Aktif Öğrenci</p>
      </div>

      <div class="funfact-one__item funfact-one__item--secondary wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="300ms">
        <div class="funfact-one__icon">
          <span class="funfact-one__icon__inner"><i class="icon-instructors"></i></span>
        </div>
        <h3 class="funfact-one__title count-box">
          <span class="count-text" data-stop="20" data-speed="1500">0</span>
          <span>+</span>
        </h3>
        <p class="funfact-one__text">Uzman Eğitmen</p>
      </div>
    </div>
  </div>
</section>
