{% load static %}
<section class="testimonials-one section-space" id="testimonials">
    <div class="container">
        <div class="row gutter-y-50">
            <div class="col-xl-4">
                <div class="testimonials-one__content">
                    <div class="sec-title wow fadeInUp" data-wow-duration="1500ms">
                        <h6 class="sec-title__tagline">Yorumlar</h6>
                        <h3 class="sec-title__title">Mezunlarımızın <span class="sec-title__title__shape">Yorumları</span></h3>
                    </div>
                    <div class="testimonials-one__description wow fadeInUp" data-wow-duration="1500ms">
                        <p class="testimonials-one__text">Eğitimlerimizi tamamlayan mezunlarımızın değerli görüşleri</p>
                    </div>
                    <div class="testimonials-one__custome-navs"></div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="eduhive-stretch-element-inside-column">
                    <div class="testimonials-one__carousel eduhive-owl__carousel eduhive-owl__carousel--with-shadow owl-theme owl-carousel" data-owl-options="{
                        &quot;items&quot;: 2.3,
                        &quot;margin&quot;: 30,
                        &quot;smartSpeed&quot;: 700,
                        &quot;loop&quot;: true,
                        &quot;autoplay&quot;: 600,
                        &quot;nav&quot;: true,
                        &quot;navContainer&quot;: &quot;.testimonials-one__custome-navs&quot;,
                        &quot;dots&quot;: false,
                        &quot;responsive&quot;: {
                            &quot;0&quot;: {&quot;items&quot;: 1},
                            &quot;576&quot;: {&quot;items&quot;: 1.5},
                            &quot;768&quot;: {&quot;items&quot;: 1.8},
                            &quot;992&quot;: {&quot;items&quot;: 2.3}
                        }
                    }">
                        <!-- Yorum 1 -->
                        <div class="item wow fadeInUp" data-wow-duration="1500ms">
                            <div class="testimonial-card">
                                <div class="testimonial-card__top">
                                    <div class="testimonial-card__image">
                                        <img src="{% static 'assets/images/testimonials/testimonial-1.jpg' %}" alt="Fatma Yıldız">
                                        <span class="testimonial-card__icon"><i class="icon-quote-2"></i></span>
                                    </div>
                                    <div class="testimonial-card__identity">
                                        <h5 class="testimonial-card__name">Fatma Yıldız</h5>
                                        <p class="testimonial-card__designation">Bakıcı</p>
                                    </div>
                                </div>
                                <div class="testimonial-card__content">
                                    <p class="testimonial-card__quote">Aldığım eğitim sayesinde demans hastalarına çok daha bilinçli ve profesyonel bir şekilde bakım verebiliyorum. Eğitmenlerimiz gerçekten alanında çok tecrübeli.</p>
                                    <div class="eduhive-ratings">
                                        <span class="eduhive-ratings__icon"><i class="fa fa-star"></i></span>
                                        <span class="eduhive-ratings__icon"><i class="fa fa-star"></i></span>
                                        <span class="eduhive-ratings__icon"><i class="fa fa-star"></i></span>
                                        <span class="eduhive-ratings__icon"><i class="fa fa-star"></i></span>
                                        <span class="eduhive-ratings__icon"><i class="fa fa-star"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Yorum 2 -->
                        <div class="item wow fadeInUp" data-wow-duration="1500ms">
                            <div class="testimonial-card">
                                <div class="testimonial-card__top">
                                    <div class="testimonial-card__image">
                                        <img src="{% static 'assets/images/testimonials/testimonial-2.jpg' %}" alt="Ahmet Kaya">
                                        <span class="testimonial-card__icon"><i class="icon-quote-2"></i></span>
                                    </div>
                                    <div class="testimonial-card__identity">
                                        <h5 class="testimonial-card__name">Ahmet Kaya</h5>
                                        <p class="testimonial-card__designation">Bakıcı</p>
                                    </div>
                                </div>
                                <div class="testimonial-card__content">
                                    <p class="testimonial-card__quote">Online eğitim olması çok büyük avantaj sağladı. İş hayatımı aksatmadan eğitimimi tamamlayabildim. İçerik çok kapsamlı ve öğretici.</p>
                                    <div class="eduhive-ratings">
                                        <span class="eduhive-ratings__icon"><i class="fa fa-star"></i></span>
                                        <span class="eduhive-ratings__icon"><i class="fa fa-star"></i></span>
                                        <span class="eduhive-ratings__icon"><i class="fa fa-star"></i></span>
                                        <span class="eduhive-ratings__icon"><i class="fa fa-star"></i></span>
                                        <span class="eduhive-ratings__icon"><i class="fa fa-star"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Yorum 3 -->
                        <div class="item wow fadeInUp" data-wow-duration="1500ms">
                            <div class="testimonial-card">
                                <div class="testimonial-card__top">
                                    <div class="testimonial-card__image">
                                        <img src="{% static 'assets/images/testimonials/testimonial-3.jpg' %}" alt="Ayşe Demir">
                                        <span class="testimonial-card__icon"><i class="icon-quote-2"></i></span>
                                    </div>
                                    <div class="testimonial-card__identity">
                                        <h5 class="testimonial-card__name">Ayşe Demir</h5>
                                        <p class="testimonial-card__designation">Bakıcı</p>
                                    </div>
                                </div>
                                <div class="testimonial-card__content">
                                    <p class="testimonial-card__quote">Eğitmenlerimiz çok ilgili ve sorularımıza anında yanıt alabiliyoruz. Özellikle pratik uygulamalar çok faydalı oldu.</p>
                                    <div class="eduhive-ratings">
                                        <span class="eduhive-ratings__icon"><i class="fa fa-star"></i></span>
                                        <span class="eduhive-ratings__icon"><i class="fa fa-star"></i></span>
                                        <span class="eduhive-ratings__icon"><i class="fa fa-star"></i></span>
                                        <span class="eduhive-ratings__icon"><i class="fa fa-star"></i></span>
                                        <span class="eduhive-ratings__icon"><i class="fa fa-star"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="{% static 'assets/images/shapes/testimonials-shape-1-1.png' %}" alt="shape" class="testimonials-one__shape">
</section> 